/*********************************************************************************
* General
******************************************************************************** */
$white: #fff;
$link-color: #999;
$link-hover-color: #a0ce4e;

/*********************************************************************************
* Pre Loader
******************************************************************************** */
$pre-loader-color: #99c24d;
$pre-loader-bg-color: #fefefe;

/*********************************************************************************
* Navigation
******************************************************************************** */
$navigation-link-color: #999;
$navigation-link-hover-color: #a0ce4e;
$navigation-border-color: #dadada;
$dropdown-item-color: #333;
$dropdown-item-bg-color: #f9f9f9;

/*********************************************************************************
* Top header bar
******************************************************************************** */
$header-top-bar-bg-color: #f6f6f6;
$header-top-bar-color: #333;
$header-border-bottom-color: #d2d3d4;
$header-wrapper-color: #747474;

/*********************************************************************************
* Blog
******************************************************************************** */
$blog-posted-on-bg-color: #a0ce4e;
$blog-categories-bg-color: #a0ce4e;
$blog-article-bg-color: #f8f9fa;
$blog-article-border-color: #d2d2dd;
$blog-title-border-color: #d9d9d9;
$blog-excerpt-color: #656269;
$blog-article-footer-bg-color: #f1f2f4;
$blog-footer-color: #656269;

/*********************************************************************************
* Footer
******************************************************************************** */
$footer-widget-bg-color: #363839;
$footer-widget-color: #ccc;
$footer-widget-link-color: #999;
$footer-widget-link-hover-color: #a0ce4e;
$footer-copyright-bg-color: #333;
