/*********************************************************************************
* General
******************************************************************************** */
$white: #fff;
$text-color: #656269;
$link-color: #999;
$link-hover-color: #a0ce4e;
$color_333: #333;
$color_f6: #f6f6f6;
$color_f1f2: #f1f2f4;
$color_e8: #e8e8e8;
$border_color: #d2d2dd;

/*********************************************************************************
* Pre Loader
******************************************************************************** */
$pre-loader-color: #99c24d;
$pre-loader-bg-color: #fefefe;

/*********************************************************************************
* Pagination
******************************************************************************** */
$pagination-color: #99c24d;
$pagination-link-color: #747474;

/*********************************************************************************
* Navigation
******************************************************************************** */
$navigation-link-color: #999;
$navigation-link-hover-color: $link-hover-color;
$navigation-border-color: #dadada;
$dropdown-item-color: $color_333;
$dropdown-item-bg-color: #f9f9f9;

/*********************************************************************************
* Single post navigation
******************************************************************************** */
$sp-navigation-border-color: $border_color;

/*********************************************************************************
* Top header bar
******************************************************************************** */
$header-top-bar-bg-color: #f6f6f6;
$header-top-bar-color: $color_333;
$header-border-bottom-color: #d2d3d4;
$header-wrapper-color: #747474;

/*********************************************************************************
* Blog
******************************************************************************** */
$blog-posted-on-bg-color: $link-hover-color;
$blog-categories-bg-color: $link-hover-color;
$blog-article-border-color: $border_color;
$blog-title-border-color: #d9d9d9;
$blog-excerpt-color: $text-color;
$blog-article-footer-bg-color: #f1f2f4;
$blog-footer-color: $text-color;

/*********************************************************************************
* Footer
******************************************************************************** */
$footer-widget-bg-color: #363839;
$footer-widget-color: #ccc;
$footer-widget-link-color: #999;
$footer-widget-link-hover-color: $link-hover-color;
$footer-copyright-bg-color: $color_333;
