@import '../mixins/mixins';

.top-wrapper {
  .header {
    z-index: 99;
    width: 100%;
    background-color: transparent;
    position: relative;

    @include transition(none);

    // Fixed header
    &.affix {
      width: 100%;
      left: 0;
      position: fixed;
      top: -30px;

      @include translate(0, 30px);
      @include transition(transform .35s cubic-bezier(.3, .1, .55, 1));

      //background-color: rgba(red(#fff), green(#fff), blue(#fff), .95);

      // If Admin Bar is enabled (user logged in) change Sticky Header position
      body.admin-bar &.affix {
        @media (min-width: 601px) {
          top: 0;

          @include translate(0, 46px);
        }

        @media (min-width: 768px) {
          top: 0;

          @include translate(0, 32px);
        }
      }
    }
  }
}
