@import '../variables/variables';

.universal__pagination-holder {
  .page-item {
    padding: 0 5px;

    &.active .page-link {
      background-color: $pagination-color;
      border-color: $pagination-color;
      color: $white;
    }

    .page-link {
      color: $pagination-link-color;

      &:focus,
      &:hover {
        background-color: $pagination-color;
        border-color: $pagination-color;
        color: $white;
      }
    } // .page-link

    &:first-child .page-link {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:last-child .page-link {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  } // .page-item
} // .universal__pagination-holder

/*********************************************************************************
* Infinite scroll button
******************************************************************************** */
.universal__loading-container,
.universal__loading-container-load-message,
#infscr-loading {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.universal__load-more-button {
  color: #656269;
  background-color: #f1f2f4;
} // .universal-load-more-button
