@import '../variables/variables';
@import '../mixins/mixins';

.footer {
  .universal__footer-widget {
    background-color: $footer-widget-bg-color;
    padding: 50px 0;

    .widget {
      color: $footer-widget-color;

      .widget-title {
        font-size: 13px;
        text-transform: uppercase;
        color: $footer-widget-color;
      }

      ul {
        padding: 0;

        li {
          list-style: none;
        }
      }

      a {
        color: $footer-widget-link-color;
        text-decoration: none;

        &:hover {
          color: $footer-widget-link-hover-color;
        }
      }
    }

    @media (max-width: $screen-md-min) {
      text-align: center;
    }
  } // .footer__widget

  .universal__footer-social {
    background-color: $footer-widget-bg-color;

    .universal__footer-social-links {
      list-style: none;
      padding: 24px 0;

      > li {
        display: inline-block;

        @media (max-width: $screen-xs-min) {
          padding: 10px;
        }

        @media (max-width: $screen-sm-min) {
          padding: 10px;
        }

        @media (min-width: $screen-sm-min) {
          padding: 10px;
        }

        @media (min-width: $screen-md-min) {
          padding: 15px;
        }

        > a {
          display: block;
          width: 40px;
          height: 40px;
          text-decoration: none;
          font-size: 14px;
          line-height: 38px;
          color: $footer-widget-link-color;
          border: 1px solid $footer-widget-link-color;
          border-radius: 50%;

          @include transition(all .25s cubic-bezier(.3, .1, .55, 1));

          &:hover {
            color: $white;
            background-color: $footer-widget-link-hover-color;
            border-color: $footer-widget-link-hover-color;
          }

          > .fa {
            display: block;
            text-align: center;
            line-height: inherit;
          }
        }
      }
    } // .universal__footer-social-links
  } // .universal__footer-social

  .universal__footer-copyright {
    background-color: $footer-copyright-bg-color;
    color: $footer-widget-color;
    font-size: 12px;
    line-height: 28px;
    padding: 10px 0;

    a {
      color: $footer-widget-link-color;
      text-decoration: none;

      &:hover {
        color: $footer-widget-link-hover-color;
      }
    }

    @media (max-width: $screen-md-min) {
      text-align: center;
    }
  } // .universal__footer-copyright
} // .footer
